body {
  background: linear-gradient(to bottom right, #4c669f, #3b5998, #192f6a);
  color: #fff;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  color: white;
}

.table {
  background-color: white;
  color: black;
}

button {
  margin-right: 10px;
}

.modal-content {
  background-color: #f0f0f0;
}

.modal-header,
.modal-footer {
  border: none;
}